<!DOCTYPE html>

<html lang="pl">
    <head>
        <title>System rezerwacji projektów TSW</title>
        <meta charset="utf-8">
        <meta name="keywords" content="System rezerwacji projektów, System reservation, TSW, PRZ, Projekty TSW">
        <meta name="description" content="Strona rezerwacji projektów z przedmiotu TSW - Politechnika Rzeszowska">
        <meta name="title" content="System rezerwacji projektów TSW">
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <!--Start: Vue + Vuetify-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!--End: Vue + Vuetify-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="app">
            <v-app>
                <v-app-bar app color="#1750caed" class="app_bar" id="hamburger_menu">
                    <a href="../frontend/index.html"><img src="../static/code.png"></img></a>
                    <v-spacer></v-spacer>
                    <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
                </v-app-bar>
                <v-navigation-drawer dark v-model="drawer" temporary fixed>
                    <v-list nav dense>
                        <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
                            <v-list-item href="../frontend/index.html">
                                <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
                                <v-list-item-title>Start</v-list-item-title>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list-item href="../frontend/projects.html">
                                <v-list-item-icon><v-icon>mdi-console-line</v-icon></v-list-item-icon>
                                <v-list-item-title>Projekty</v-list-item-title>
                            </v-list-item>
                            <v-list-item href="../frontend/contact.html">
                                <v-list-item-icon><v-icon>mdi-email</v-icon></v-list-item-icon>
                                <v-list-item-title>Kontakt</v-list-item-title>
                            </v-list-item>
                            <v-list-item href="../frontend/logon.html">
                                <v-list-item-icon><v-icon>mdi-login</v-icon></v-list-item-icon>
                                <v-list-item-title>Zaloguj się!</v-list-item-title>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
                
                <v-app-bar app color="#1750caed" class="app_bar" id="normal_menu">
                    <a href="../frontend/index.html"><img src="../static/code.png" style="margin-right: 10px;"></img></a>
                    <a class="menu_list start active" href="../frontend/index.html">Start</a>
                    <v-spacer></v-spacer>
                    <ul class="menu_list">
                        <li>
                            <a class="menu_list" href="../frontend/projects.html">Projekty</a>
                        </li>
                        <li>
                            <a class="menu_list" href="../frontend/contact.html">Kontakt</a>
                        </li>
                        <li>
                            <!--<a class="menu_list" href="../frontend/logon.html">Zaloguj się!</a>-->
                            <v-btn outlined elevation="3" large class="mt-2 ml-10 logon" href="../frontend/logon.html">Zaloguj się!</v-btn>
                        </li>      
                    </ul>
                </v-app-bar>

                <v-main app class="pa-0">
                    <v-row id="bg_img_1" style="height: 400px;">
                        <v-col clos="12">
                            <v-row justify="center" style="padding-top: 200px;">
                                <v-col cols="auto" class="box_shadow">
                                    <h1>System rezerwacji projektów</h1>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row style="background-color: #2b3335;">
                        <v-col cols="12">
                            <v-container>
                                <p>Tutaj wstaw treść</p>
                            </v-container>
                        </v-col>
                    </v-row>
                </v-main>
                <v-footer dark padless>
                    <v-card class="flex" flat tile>
                        <v-card-title style="background-color: rgb(5,12,15);">
                            <strong class="subheading">Sprawdź nasze inne witryny!</strong>
                            <v-spacer></v-spacer>
                            <v-btn href="http://www.facebook.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-facebook</v-icon>
                            </v-btn>
                            <v-btn href="http://www.twitter.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-twitter</v-icon>
                            </v-btn>
                            <v-btn href="http://www.youtube.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-youtube</mdi-youtube></v-icon>
                            </v-btn>
                            <v-btn href="http://www.instagram.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-instagram</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-card-text style="background-color: rgb(2,8,12);" class="py-2 white--text text-center">
                            <strong>{{ new Date().getFullYear() }} — &copy; Maciej Harbuz</strong>
                        </v-card-text>
                    </v-card>
                </v-footer>
            </v-app>
        </div>
    </body>

<script>
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            drawer: false,
            group: null,

        },
        mounted: function() {
            
        },
        methods: {

        }
    });


</script>

</html>