<!DOCTYPE html>

<html lang="pl">
    <head>
        <title>System rezerwacji projektów TSW</title>
        <meta charset="utf-8">
        <meta name="keywords" content="System rezerwacji projektów, System reservation, TSW, PRZ, Projekty TSW">
        <meta name="description" content="Strona rezerwacji projektów z przedmiotu TSW - Politechnika Rzeszowska">
        <meta name="title" content="System rezerwacji projektów TSW">
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <!--Start: Vue + Vuetify-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!--End: Vue + Vuetify-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="app">
            <v-app>
                <v-app-bar app color="#1750caed" class="app_bar" id="hamburger_menu">
                    <a href="../frontend/index.html"><img src="../static/code.png"></img></a>
                    <v-spacer></v-spacer>
                    <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
                </v-app-bar>
                <v-navigation-drawer dark v-model="drawer" temporary fixed>
                    <v-list nav dense>
                        <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
                            <v-list-item v-if="logged_in" style="cursor: default;">
                                <v-list-item-icon><v-icon>mdi-account</v-icon></v-list-item-icon>
                                <v-list-item-title>Zalogowany jako:</v-list-item-title>
                            </v-list-item>
                            <v-list-item v-if="logged_in" style="cursor: default;">
                                <v-list-item-title style="text-align: center;">{{user_email}}</v-list-item-title>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list-item href="../frontend/index.html">
                                <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
                                <v-list-item-title>Start</v-list-item-title>
                            </v-list-item>
                            <v-list-item href="../frontend/projects.html">
                                <v-list-item-icon><v-icon>mdi-console-line</v-icon></v-list-item-icon>
                                <v-list-item-title>Projekty</v-list-item-title>
                            </v-list-item>
                            <v-list-item v-if="logged_in" href="../frontend/my_project.html">
                                <v-list-item-icon><v-icon>mdi-lead-pencil</v-icon></v-list-item-icon>
                                <v-list-item-title>Mój projekt</v-list-item-title>
                            </v-list-item>
                            <v-list-item href="../frontend/contact.html">
                                <v-list-item-icon><v-icon>mdi-email</v-icon></v-list-item-icon>
                                <v-list-item-title>Kontakt</v-list-item-title>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list-item v-if="!logged_in" href="../frontend/login.html">
                                <v-list-item-icon><v-icon>mdi-login</v-icon></v-list-item-icon>
                                <v-list-item-title>Zaloguj się!</v-list-item-title>
                            </v-list-item>
                            <v-list-item v-if="!logged_in" href="../frontend/register.html">
                                <v-list-item-icon><v-icon>mdi-account-plus</v-icon></v-list-item-icon>
                                <v-list-item-title>Zarejestruj się!</v-list-item-title>
                            </v-list-item>
                            <v-list-item v-else @click="LogOut()">
                                <v-list-item-icon><v-icon>mdi-logout</v-icon></v-list-item-icon>
                                <v-list-item-title>Wyloguj się</v-list-item-title>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
                
                <v-app-bar app color="#1750caed" class="app_bar" id="normal_menu">
                    <a href="../frontend/index.html"><img src="../static/code.png" style="margin-right: 10px;"></img></a>
                    <a class="menu_list start active" href="../frontend/index.html">Start</a>
                    <v-spacer></v-spacer>
                    <ul class="menu_list">
                        <li>
                            <a class="menu_list" href="../frontend/projects.html">Projekty</a>
                        </li>
                        <li v-if="logged_in">
                            <a class="menu_list" href="../frontend/my_project.html">Mój projekt</a>
                        </li>
                        <li>
                            <a class="menu_list" href="../frontend/contact.html">Kontakt</a>
                        </li>
                        <li v-if="!logged_in">
                            <v-btn outlined elevation="3" large class="mt-2 ml-5 login" href="../frontend/login.html">Zaloguj się!</v-btn>
                            <v-btn outlined elevation="3" large class="mt-2 ml-2 register" href="../frontend/register.html">Zarejestruj się!</v-btn>
                        </li>
                        <li v-else>
                            <v-row justify="center">
                                <v-col cols="auto" class="pt-3 pb-0">
                                    <p style="margin: 0;">{{user_email}}</p>
                                </v-col>
                            </v-row>
                            <v-row class="mt-0" justify="center">
                                <v-col cols="auto" class="pt-2 pb-0">
                                    <v-btn outlined elevation="3" small class="logout" @click="LogOut()">Wyloguj się</v-btn>
                                </v-col>
                            </v-row>
                        </li>
                    </ul>
                </v-app-bar>

                <v-main class="pa-0">
                    <v-row id="bg_img_1" style="min-height: 400px;">
                        <v-col clos="12">
                            <v-row justify="center" style="padding-top: 200px;">
                                <v-col cols="auto" class="box_shadow">
                                    <h1>System rezerwacji projektów</h1>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row style="background-color: #2b3335; min-height: 620px;">
                        <v-col cols="12">
                            <v-container>
                                <v-row align="center" justify="center" style="padding-top: 120px;">
                                    <v-col cols="auto">
                                        <h2>Witaj w systemie rezerwacji projektów!</h2>
                                    </v-col>
                                </v-row>
                                <v-row class="pt-2" justify="center">
                                    <v-col cols="11" xs="11" sm="11" md="8" lg="6" xl="6">
                                        <p class="text">W tym systemie będziesz miał/a możliwość wybrać swój projekt z przedmiotu TSW bądź TSWiJ. Jedynym warunkiem jest wcześniejsze założenie konta na tej witrynie.<br><br>Lista projektów znajduje się w zakładce "Projekty". Istnieje również możliwość aplikowania do wymyślonego przez siebie projektu. Pamiętaj jednak, aby wymyślony przez siebie temat projektu uzgodnić z prowadzącym.</p>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-col>
                    </v-row>
                    <v-row id="bg_img_2" style="min-height: 400px;">
                    </v-row>
                    <v-row style="background-color: #2b3335; min-height: 650px;">
                        <v-col cols="12">
                            <v-container>
                                <v-row class="pt-5" align="center" justify="center">
                                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                                        <div class="display-2" style="color: white;">
                                            Poznaj listę najpopularniejszych frameworków JavaScript!
                                        </div>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                                        <v-carousel cycle show-arrows-on-hover>
                                            <v-carousel-item
                                            v-for="(item,i) in carousel_items1"
                                            :key="i"
                                            :src="item.src">
                                                <v-row align="center" justify="center" style="padding-top: 20px;">
                                                    <div class="display-2">
                                                        {{ item.name }}
                                                    </div>
                                                </v-row>
                                            </v-carousel-item>
                                        </v-carousel>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-col>
                    </v-row>
                    <v-row id="bg_img_3" style="min-height: 400px;">
                    </v-row>
                    <v-row style="background-color: #2b3335; min-height: 650px;">
                        <v-col cols="12">
                            <v-container>
                                <v-row class="pt-5" align="center" justify="center">
                                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                                        <div class="display-2" style="color: white;">
                                            Poznaj listę najpopularniejszych frameworków PHP!
                                        </div>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                                        <v-carousel cycle show-arrows-on-hover>
                                            <v-carousel-item
                                            v-for="(item,i) in carousel_items2"
                                            :key="i"
                                            :src="item.src">
                                                <v-row align="center" justify="center" style="padding-top: 20px;">
                                                    <div class="display-2">
                                                        {{ item.name }}
                                                    </div>
                                                </v-row>
                                            </v-carousel-item>
                                        </v-carousel>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-col>
                    </v-row>
                </v-main>
                <v-footer dark padless>
                    <v-card class="flex" flat tile>
                        <v-card-title style="background-color: rgb(5,12,15);">
                            <strong class="subheading">Sprawdź nasze inne witryny!</strong>
                            <v-spacer></v-spacer>
                            <v-btn href="http://www.facebook.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-facebook</v-icon>
                            </v-btn>
                            <v-btn href="http://www.twitter.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-twitter</v-icon>
                            </v-btn>
                            <v-btn href="http://www.youtube.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-youtube</mdi-youtube></v-icon>
                            </v-btn>
                            <v-btn href="http://www.instagram.com" target="_blank" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-instagram</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-card-text style="background-color: rgb(2,8,12);" class="py-2 white--text text-center">
                            <strong>{{ new Date().getFullYear() }} — &copy; Maciej Harbuz</strong>
                        </v-card-text>
                    </v-card>
                </v-footer>
            </v-app>
        </div>

<script>
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            drawer: false,
            group: null,
            logged_in: false,
            user_email: '',
            carousel_items1: [
                {
                    src: '../static/logos/logo_react.png',
                    name: 'React.js',
                },
                {
                    src: '../static/logos/logo_angular.png',
                    name: 'Angular.js',
                },
                {
                    src: '../static/logos/logo_bootstrap.png',
                    name: 'Bootstrap',
                },
                {
                    src: '../static/logos/logo_vue.png',
                    name: 'Vue.js',
                },
                {
                    src: '../static/logos/logo_vuetify.png',
                    name: 'Vuetify.js',
                },
                {
                    src: '../static/logos/logo_express.png',
                    name: 'Express.js',
                },
            ],
            carousel_items2: [
                {
                    src: '../static/logos/logo_laravel.jpg',
                    name: 'Laravel',
                },
                {
                    src: '../static/logos/logo_codeigniter.png',
                    name: 'CodeIgniter',
                },
                {
                    src: '../static/logos/logo_symfony.png',
                    name: 'Symfony',
                },
                {
                    src: '../static/logos/logo_cakephp.png',
                    name: 'CakePHP',
                },
            ],

        },
        mounted: function() {
            if (localStorage.getItem('logged_in') == 'true' && localStorage.getItem('user_email')) {
                this.logged_in = localStorage.getItem('logged_in');
                this.user_email = localStorage.getItem('user_email');
            }
        },
        methods: {
            LogOut() {
                if (localStorage.getItem('logged_in')) {
                    localStorage.removeItem('logged_in');
                }
                if (localStorage.getItem('user_email')) {
                    localStorage.removeItem('user_email');
                }
                window.location.replace('../frontend/index.html');
            }
        }
    });


</script>
    </body>
    
</html>